<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="TransactionLog" fileName="logs/transactions.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="RestLog" fileName="logs/rest.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="org.epam.utils.transactionlogging.TransactionLoggingAspect" level="INFO" additivity="false">
            <AppenderRef ref="TransactionLog"/>
        </Logger>
        <Logger name="org.epam.transaction.logging.RestControllerLoggingAspect" level="INFO" additivity="false">
            <AppenderRef ref="RestLog"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>